    <div id="content" class="panel panel-default" ng-controller="ProjectListCtrl">
      <div class="panel-heading">
	<h1>Editor</h1>
      </div>
      <div class="panel-body">
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer non vestibulum risus. Quisque nec pellentesque lectus, in tempor sem. Integer pharetra leo id egestas molestie. Aliquam erat volutpat. Sed lacinia, tortor interdum egestas tristique, dui magna venenatis diam, sit amet pulvinar ligula nibh nec sapien. In porttitor enim eget purus mollis pharetra. Mauris sodales enim ut ligula tincidunt, eu facilisis augue pellentesque. Quisque sit amet ipsum id metus varius sollicitudin. Nulla sodales orci tellus, ac condimentum lectus tincidunt sed. Nunc purus est, venenatis vitae sem id, lobortis vulputate erat. Etiam faucibus pellentesque semper. Sed a mauris sit amet leo rhoncus elementum. Aliquam erat volutpat. Proin at vulputate purus, sed tincidunt nunc.</p>
    </div>
