    <div id="content" class="panel panel-default" ng-controller="ProjectListCtrl">
      <div class="panel-heading">
	<h1>Select a project:</h1>
	<form class="navbar-form navbar-right" role="search">
	  <div class="form-group">
	    <!--<span class="glyphicon glyphicon-search projectsearch"></span>-->
	    <input class="form-control navbar-right projectsearch" placeholder="Type a project name..." ng-model="query">
	  </div>
	</form>
      </div>
      <div class="panel-body">
	<table class="table table-bordered table-hover">
	  <thead>
	    <tr>
	      <th>Name</th>
	      <th>Quick Description</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr ng-repeat="project in projects | filter:query">
	      <td><a href="#">{{project.name}}</a></td>
	      <td>{{project.desc}}</td>
	    </tr>
	  </tbody>
	</table>
      </div>
    </div>
