<!-- -->
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
    "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
		<title>PAMF breast health screening questionnaire - Page P1 </title>
	    <h2>Breast Health Screening</h2>
	    <h5></h5>
<html>
<body>
<head>
<style>
.inlineLabels ul {<!-- Does not work -->
		list-style-type:none;
		color : green;
    }
	body {font-size:100%;}
	p {font-size:1.2em;}
	li {font-size:1.2em;}
</style>
</head>

	<form action="" method="post" ><input type='hidden' name='csrfmiddlewaretoken' value='kYqouRKzh30odoHVXCtmv9gh4q7UCjp4' />
<!--	<fieldset class="inlineLabels"> -->
	
	
	<p style='font-size:Large;'>
		
<p style='font-size:Large;'><i>
Click here for a picture and information about  
	<a title="Tap here for more information about ovarian cancer"href="/multiquest/explanations/ovca">ovarian cancer.</a>
</i></p>

	</p>

    <p></p>
    	
	
	
<!-- preamble -->

    
	<table >
	
	
	<tr>
		<td>
		
	
			<p><label for="id_pHxOvarianCA_0">Have you ever had ovarian cancer?</label> <ul>
<li><label for="id_pHxOvarianCA_0"><input class="inlineLabels" id="id_pHxOvarianCA_0" name="pHxOvarianCA" type="radio" value="Yes" /> Yes</label></li>
<li><label for="id_pHxOvarianCA_1"><input class="inlineLabels" id="id_pHxOvarianCA_1" name="pHxOvarianCA" type="radio" value="No" /> No</label></li>
</ul></p>
	
		
	



<p style='font-size:Large;'>
	<i>
		This question does not apply to:<ul>
			<li>Cancer of the cervix (cervical cancer) OR</li>
			<li>Cancer of the uterus</li>
		</ul>
	</i>
</p>




		</td>
	


	</tr>
	</table>
	
	<input type="submit" name="submitButton" value="Back">
	
	<input type="submit" name="submitButton" value="Next">
	</form>
<div>

	<p style='font-size:small; text-align:left; text-decoration:none; color:black;'>
		
	</p>

</div>
</body>
</html>
<!--
Copyright 2012 Health Records for Everyone

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->

<style type="text/css">
    ul.errorlist {
        margin: 0;
        padding: 0;
        color: red;
    }
    .errorlist li {
        color: red;
        font-size: 18px;
        margin: 0 0 1px;
        padding: 0px 20px;
    }
</style>


<!--
Copyright 2013 Health Records for Everyone

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.

Need later?
    .required {
    	font-size: 14px;
    	font-weight: normal
	ul {
		list-style-type:none;
		padding:0px;
		margin:0px;
	}

-->