{% extends 'Explanations/base explanation.html' %}

{% block theExplanation %}

<a id="closebloodrelatives"><b>Close blood relatives</b></a>
<div>
    <p>
        In this questionnaire, "close blood relatives" include the following people related to you by blood (not marriage):<ul>
            <li>parents, brothers & sisters, children</li>
            <li>grandparents, grandchildren, aunts, uncles, nieces, nephews, half-brothers, half-sisters</li>
            <li>great grandparents, great grandchildren, great aunts, great uncles, first cousins</li>
        </ul>
    </p>
</div>
{% endblock  %}
