{% extends 'Explanations/base explanation.html' %}

{% block theExplanation %}

<!--
Anchor tags in this document (that the application can point to for explanation):
    summary
    FAQ
    when-to-test
    ifbrca+
    ifbrca-
    what-to-do
    breastca
    screeningforbreastca
    screeningforovarianca
    interpretingbrca
    healthinsuranceconcerns
    lifeinsuranceconcerns
    wecare
    ovca
    ftca
    ppca
    endofexplanations
-->

<a id="summary"><b>Summary</b></a>
<div>
    <p>
        Although breast cancer is common, in most cases we cannot identify a hereditary cause.
        However, women whose close relatives have breast or ovarian cancer have a higher chance of
        developing these cancers. In addition, women who develop breast or ovarian cancer at a
        younger age are at higher risk of developing a second cancer. <b>The good news is that
        women at higher risk of breast and ovarian cancer can take steps to reduce their chances
        of developing a first or recurrent cancer</b>.
    </p>
</div>
<a id="FAQ"></a>
<div>
    <p>
        Here are some frequently asked questions from the summary:<ul>
            <li><a title="Tap here to see what can be done to find out if you're at higher risk of a first or second cancer"
                   href="#when-to-test">
                What can be done to find out if I’m at higher risk of a first or second cancer?</a></li>
            <li><a title="Tap here to see what can be done if you have a BRCA mutation" href="#ifbrca+">
                If BRCA mutations are found ...</a></li>
            <li><a title="Tap here to see what can be done if you do not have a BRCA mutation" href="#ifbrca-">
                If no BRCA mutations are found ...</a></li>
            <li><a title="Tap here to see what can be done if you are found to be at higher risk" href="#what-to-do">
                If I am found to be at higher risk, what can I do?</a></li>
            <li><a title="Tap here to see how often are BRCA mutations involved in breast cancer" href="#breastca">
                How often are BRCA mutations involved in breast cancer?</a></li>
            <li><a title="Tap here to see what screening options are available for breast cancer" href="#screeningforbreastca">
                What screening options are there for breast cancer?</a></li>
            <li><a title="There currently are no reliable screening options for ovarian cancer" href="#screeningforovarianca">
                What screening options are there for ovarian cancer?</a></li>
            <li><a title="Touch here to see how BRCA mutation status affects recommendations for women who do not have breast cancer (caution: dense information here)"
                   href="#interpretingbrca">
                How does BRCA mutation status affect recommendations for women who do not have breast cancer?</a></li>
            <li><a title="Tap here to see what the health insurance implications of BRCA testing are"
                   href="#healthinsuranceconcerns">
                What are the health insurance implications of BRCA testing?</a></li>
            <li><a title="It is less clear what the life insurance implications of BRCA testing might be"
                   href="#lifeinsuranceconcerns">
                What are the life insurance implications of BRCA testing?</a></li>
        </ul>
    </p>
</div>
<a id="when-to-test"><u>What can be done to find out if I’m at higher risk of a first or second cancer</u>?</a>
<div>
    <p>
        Blood tests can detect changes (mutations) in certain genes that explain some of this higher risk.
        The genes are called BRCA1 and BRCA2. Each woman should consider her particular situation,
        including her own history of cancer or precancerous lesions and her family history of cancer.
        She should discuss this with her physician or cancer risk genetic counselor before deciding
        whether to have BRCA testing.
    </p>
</div>
<a id="ifbrca+"><u>If BRCA mutations are found</u> ...</a>
<div>
    <p>
        ... we can estimate the chances of a first or second breast or ovarian cancer.
    </p>
</div>
<a id="ifbrca-"><u>If no BRCA mutations are found</u> ...</a>
<div>
    <p>
        ... the interpretation of this result depends on
        what is known about the BRCA mutation status of a woman’s family members with breast or ovarian cancer.
        If family members with cancer were known to have BRCA mutations, then the woman who does not have
        such mutations has a typical, not increased, risk of such cancer. If family members with cancer were
        tested and did not have BRCA mutations, then the woman under consideration and her family may have
        increased risk of cancer, from mutations that medical technology is currently unable to detect.
        Finally, if BRCA testing has not been done on family members with breast or ovarian cancer, then
        finding no mutations in a woman is called an “uninformative negative.” This means that we cannot fully
        interpret this test result, since we don’t know whether BRCA mutations that are present but not tested
        account for the cancers in her family.
    </p>
    <p>
</div>
<a id="what-to-do"><u>If I am found to be at higher risk, what can I do</u>?</a>
<div>
        <i>To lower the chance of first or
        recurrent breast cancer</i>, women may take medication to block estrogen's effect in the breast
        or have her breasts removed (mastectomy). For women who do not choose mastectomy, yearly mammograms
        or breast MRI will be recommended.  <i>To lower the chance of ovarian cancer</i>, high risk woman may take
        birth control pills for at least five years or have their ovaries removed.
    </p>
</div>
<a id="breastca"><b>Breast Cancer</b>:</a>
<div>
    <p>
        Breast cancer is very common, affecting 1 in 8 American women during their lifetime.
        While most breast cancers occur in women without a family history of breast cancer,
        about 10% of breast cancers occur in women with BRCA gene mutations. Without preventive steps,
        up to 85% of women with BRCA mutations will develop breast cancer by age 80. Men with
        mutations in the BRCA2 gene have a 5% to 10% chance of developing breast cancer.
    </p>
</div>
<a id="screeningforbreastca"><b>Current Screening for Breast Cancer</b>:</a>
<div>
    <p>
        Current screening options include breast exam, mammogram, and breast MRI. For most women, a mammogram
        is the best test for early breast cancer detection. Breast MRI is recommended for women who have any
        of the following risk factors:<ol>
            <li>BRCA mutation,</li>
            <li>strong family history of breast or ovarian cancer-- even if BRCA mutations have not been detected,</li>
            <li>chest radiation between ages 10 and 30, or</li>
            <li>a rare genetic syndrome that increases breast cancer risk.</li>
        </ol>
    </p>
</div>
<a id="screeningforovarianca"><b>Current Screening for Ovarian Cancer</b>:</a>
<div>
    <p>
        There are currently no reliable tests to screen women for ovarian cancer. Pelvic examinations
        (feeling the ovaries through the vagina), trans-vaginal ultrasound (viewing the ovaries through
        a probe inserted in the vagina), and blood tests (CA 125) have not been proven to find ovarian
        cancer early enough to reduce death rates.
    </p>
</div>
<a id="interpretingbrca"><b>How does BRCA mutation status affect recommendations for women who do not have breast cancer</b>?</a>
<div>
    <ol>
        <li><i>If a family member with breast or ovarian cancer is BRCA positive while the unaffected woman is BRCA negative</i>:
            then the unaffected woman did not inherit the abnormal gene, and she carries the same risk
            of developing breast cancer as other women at "average risk" -- about 1 in 8 chance of developing
            breast cancer during her lifetime. Such women should have routine screening for breast cancer.</li>
        <li><i>If both the affected relatives and the unaffected woman are BRCA positive</i>: then the unaffected
            woman may have up to an 85% chance of developing breast or ovarian cancer. Breast screening through
            breast MRI and mammograms and preventive measures (medication, mastectomy, or ovary removal)
            should be considered.</li>
        <li><i>If neither the affected relatives nor the unaffected woman are BRCA positive</i>:
            then risk estimations are less accurate, because the family may carry gene mutations that current
            technology cannot detect. The chance of developing breast or ovarian cancer may be 55%
            (depending on the family history). Breast MRI and mammogram should be considered.
            Preventive measures (medication, mastectomy, or ovary removal may be recommended.</li>
    </ol>
    <p>
        The following table summarizes how information on BRCA mutation status affects recommendations.
    </p>
    <table class=MsoNormalTable border=1 cellspacing=0 cellpadding=0
      style='margin-left:36.9pt;border-collapse:collapse;mso-table-layout-alt:fixed;
      border:none;mso-border-alt:solid windowtext .5pt;mso-padding-alt:0in 5.4pt 0in 5.4pt;
      mso-border-insideh:.5pt solid windowtext;mso-border-insidev:.5pt solid windowtext'>
        <tr style='mso-yfti-irow:0;mso-yfti-firstrow:yes;page-break-inside:avoid'>
            <td width=117 colspan=2 valign=top style='width:117.0pt;border:solid windowtext 1.0pt;
              border-bottom:none;mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:
              solid windowtext .5pt;mso-border-right-alt:solid windowtext .5pt;background:
              #F2F2F2;mso-shading:white;mso-pattern:gray-5 auto;padding:0in 5.4pt 0in 5.4pt'>
                <p class=MsoNormal align=center style='text-align:center'><span
                   style='font-size:10.0pt;font-family:Arial'>BRCA Mutation Status</span></p>
            </td>
            <td width=113 colspan=2 valign=top style='width:112.5pt;border-top:solid windowtext 1.0pt;
              border-left:none;border-bottom:none;border-right:solid windowtext 1.0pt;
              mso-border-left-alt:solid windowtext .5pt;mso-border-top-alt:solid windowtext .5pt;
              mso-border-left-alt:solid windowtext .5pt;mso-border-right-alt:solid windowtext .5pt;
              background:#F2F2F2;mso-shading:white;mso-pattern:gray-5 auto;padding:0in 5.4pt 0in 5.4pt'>
                <p class=MsoNormal align=center style='text-align:center'><span
                   style='font-size:10.0pt;font-family:Arial'>Unaffected Woman's Lifetime Risk
                  of Developing Cancer</span></p>
            </td>
            <td width=176 colspan=2 valign=top style='width:175.5pt;border-top:solid windowtext 1.0pt;
              border-left:none;border-bottom:none;border-right:solid windowtext 1.0pt;
              mso-border-left-alt:solid windowtext .5pt;mso-border-top-alt:solid windowtext .5pt;
              mso-border-left-alt:solid windowtext .5pt;mso-border-right-alt:solid windowtext .5pt;
              background:#F2F2F2;mso-shading:white;mso-pattern:gray-5 auto;padding:0in 5.4pt 0in 5.4pt'>
                <p class=MsoNormal align=center style='text-align:center'><span
                   style='font-size:10.0pt;font-family:Arial'>Recommendations for Unaffected
                  Woman</span></p>
            </td>
        </tr>
        <tr style='mso-yfti-irow:1'>
            <td width=63 valign=top style='width:63.0pt;border:solid windowtext 1.0pt;
              mso-border-alt:solid windowtext .5pt;background:#D9D9D9;mso-shading:white;
              mso-pattern:gray-15 auto;padding:0in 5.4pt 0in 5.4pt'>
                <p class=MsoNormal align=center style='text-align:center'><span
                   style='font-size:10.0pt;font-family:Arial'>Unaffected<span
                   style="mso-spacerun:yes">&nbsp;&nbsp;&nbsp; </span>Woman</span></p>
            </td>
            <td width=54 valign=top style='width:.75in;border:solid windowtext 1.0pt;
              border-left:none;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
              solid windowtext .5pt;background:#D9D9D9;mso-shading:white;mso-pattern:gray-15 auto;
              padding:0in 5.4pt 0in 5.4pt'>
                <p class=MsoNormal align=center style='text-align:center'><span
                   style='font-size:10.0pt;font-family:Arial'>Affected Relative</span></p>
            </td>
            <td width=50 valign=top style='width:49.5pt;border:solid windowtext 1.0pt;
              border-left:none;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
              solid windowtext .5pt;background:#D9D9D9;mso-shading:white;mso-pattern:gray-15 auto;
              padding:0in 5.4pt 0in 5.4pt'>
                <p class=MsoNormal align=center style='text-align:center'><span
                   style='font-size:10.0pt;font-family:Arial'>Breast Cancer</span></p>
            </td>
            <td width=63 valign=top style='width:63.0pt;border:solid windowtext 1.0pt;
              border-left:none;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
              solid windowtext .5pt;background:#D9D9D9;mso-shading:white;mso-pattern:gray-15 auto;
              padding:0in 5.4pt 0in 5.4pt'>
                <p class=MsoNormal align=center style='text-align:center'><span
                   style='font-size:10.0pt;font-family:Arial'>Ovarian Cancer</span></p>
            </td>
            <td width=72 valign=top style='width:1.0in;border:solid windowtext 1.0pt;
              border-left:none;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
              solid windowtext .5pt;background:#D9D9D9;mso-shading:white;mso-pattern:gray-15 auto;
              padding:0in 5.4pt 0in 5.4pt'>
                <p class=MsoNormal align=center style='text-align:center'><span
                   style='font-size:10.0pt;font-family:Arial'>Breast MRI and Mammogram</span></p>
            </td>
            <td width=104 valign=top style='width:103.5pt;border:solid windowtext 1.0pt;
              border-left:none;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
              solid windowtext .5pt;background:#D9D9D9;mso-shading:white;mso-pattern:gray-15 auto;
              padding:0in 5.4pt 0in 5.4pt'>
                <p class=MsoNormal align=center style='text-align:center'><span
                   style='font-size:10.0pt;font-family:Arial'>Medication, Mastectomy, Ovary
                  Removal</span></p>
            </td>
        </tr>
        <tr style='mso-yfti-irow:2'>
            <td width=63 valign=top style='width:63.0pt;border:solid windowtext 1.0pt;
              border-top:none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
              padding:0in 5.4pt 0in 5.4pt'>
                <p class=MsoNormal align=center style='text-align:center'><span
                   style='font-size:10.0pt;font-family:Arial'>-</span></p>
            </td>
            <td width=54 valign=top style='width:.75in;border-top:none;border-left:none;
              border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
              mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
              mso-border-alt:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt'>
                <p class=MsoNormal align=center style='text-align:center'><span
                   style='font-size:10.0pt;font-family:Arial'>+</span></p>
            </td>
            <td width=50 valign=top style='width:49.5pt;border-top:none;border-left:none;
              border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
              mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
              mso-border-alt:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt'>
                <p class=MsoNormal align=center style='text-align:center'><span
                   style='font-size:10.0pt;font-family:Arial'>13 %</span></p>
            </td>
            <td width=63 valign=top style='width:63.0pt;border-top:none;border-left:none;
              border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
              mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
              mso-border-alt:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt'>
                <p class=MsoNormal align=center style='text-align:center'><span
                   style='font-size:10.0pt;font-family:Arial'><span
                   style="mso-spacerun:yes">&nbsp;&nbsp; </span>1.5 %</span></p>
            </td>
            <td width=72 valign=top style='width:1.0in;border-top:none;border-left:none;
              border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
              mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
              mso-border-alt:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt'>
                <p class=MsoNormal align=center style='text-align:center'><span
                   style='font-size:10.0pt;font-family:Arial'>No</span></p>
            </td>
            <td width=104 valign=top style='width:103.5pt;border-top:none;border-left:
              none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
              mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
              mso-border-alt:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt'>
                <p class=MsoNormal align=center style='text-align:center'><span
                   style='font-size:10.0pt;font-family:Arial'>No</span></p>
            </td>
        </tr>
        <tr style='mso-yfti-irow:3'>
            <td width=63 valign=top style='width:63.0pt;border:solid windowtext 1.0pt;
              border-top:none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
              padding:0in 5.4pt 0in 5.4pt'>
                <p class=MsoNormal align=center style='text-align:center'><span
                   style='font-size:10.0pt;font-family:Arial'>+</span></p>
            </td>
            <td width=54 valign=top style='width:.75in;border-top:none;border-left:none;
              border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
              mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
              mso-border-alt:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt'>
                <p class=MsoNormal align=center style='text-align:center'><span
                   style='font-size:10.0pt;font-family:Arial'>+</span></p>
            </td>
            <td width=50 valign=top style='width:49.5pt;border:none;border-right:solid windowtext 1.0pt;
              mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
              mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
              mso-border-right-alt:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt'>
                <p class=MsoNormal align=center style='text-align:center'><span
                   style='font-size:10.0pt;font-family:Arial'>85 %</span></p>
            </td>
            <td width=63 valign=top style='width:63.0pt;border:none;border-right:solid windowtext 1.0pt;
              mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
              mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
              mso-border-right-alt:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt'>
                <p class=MsoNormal><span style='font-size:10.0pt;font-family:Arial'><span
                   style="mso-spacerun:yes">&nbsp;&nbsp;&nbsp; </span>60<span
                   style="mso-spacerun:yes">&nbsp;&nbsp;&nbsp; </span>%</span></p>
            </td>
            <td width=72 valign=top style='width:1.0in;border-top:none;border-left:none;
              border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
              mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
              mso-border-alt:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt'>
                <p class=MsoNormal align=center style='text-align:center'><span
                   style='font-size:10.0pt;font-family:Arial'>Yes</span></p>
            </td>
            <td width=104 valign=top style='width:103.5pt;border-top:none;border-left:
              none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
              mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
              mso-border-alt:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt'>
                <p class=MsoNormal align=center style='text-align:center'><span
                   style='font-size:10.0pt;font-family:Arial'>Consider options</span></p>
            </td>
        </tr>
        <tr style='mso-yfti-irow:4;mso-yfti-lastrow:yes;page-break-inside:avoid'>
            <td width=63 valign=top style='width:63.0pt;border:solid windowtext 1.0pt;
              border-top:none;mso-border-top-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
              padding:0in 5.4pt 0in 5.4pt'>
                <p class=MsoNormal align=center style='text-align:center'><span
                   style='font-size:10.0pt;font-family:Arial'>-</span></p>
            </td>
            <td width=54 valign=top style='width:.75in;border-top:none;border-left:none;
              border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
              mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
              mso-border-alt:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt'>
                <p class=MsoNormal align=center style='text-align:center'><span
                   style='font-size:10.0pt;font-family:Arial'>-</span></p>
            </td>
            <td width=113 colspan=2 valign=top style='width:112.5pt;border:solid windowtext 1.0pt;
              border-left:none;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
              solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt'>
                <p class=MsoNormal align=center style='text-align:center'><span
                   style='font-size:8.0pt;mso-bidi-font-size:10.0pt;font-family:Arial'>Depends
                  on Family History</span><span style='font-size:10.0pt;font-family:Arial'></span></p>
            </td>
            <td width=72 valign=top style='width:1.0in;border-top:none;border-left:none;
              border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
              mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
              mso-border-alt:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt'>
                <p class=MsoNormal align=center style='text-align:center'><span
                   style='font-size:10.0pt;font-family:Arial'>Yes</span></p>
            </td>
            <td width=104 valign=top style='width:103.5pt;border-top:none;border-left:
              none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
              mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
              mso-border-alt:solid windowtext .5pt;padding:0in 5.4pt 0in 5.4pt'>
                <p class=MsoNormal align=center style='text-align:center'><span
                   style='font-size:10.0pt;font-family:Arial'>Consider options</span></p>
            </td>
        </tr>
    </table>
<br />
</div>
<a id="healthinsuranceconcerns"><b>Health insurance concerns about BRCA test results</b></a>
<div>
    <p>
        The Federal Genetic Information Nondiscrimination Act of 2008 (GINA) prohibits health insurance carriers
        from using a person’s genetic information to determine insurance eligibility or premiums. GINA also prevents
        employers from making decisions about hiring, firing, and job assignment based on genetic information
        and prevents employers from requesting genetic information about employees.
    </p>
</div>
<a id="lifeinsuranceconcerns"><b>Life insurance and BRCA test results</b></a>
<div>
    <p>
        Information about pre-existing medical conditions or risks is used routinely by life insurance underwriters
        to determine eligibility for coverage and to set premiums. An individual's failure to disclose such information
        is illegal. The extent to which such genetic information is being gathered by life insurance companies or used
        to determine eligibility or premiums is unknown.
    </p>
</div>
<a id="wecare"><b>WE CARE Collaborative: <u>WE</u>stern <u>CA</u>ncer <u>R</u>isk <u>E</u>valuation</b></a>
<div>
    <p>
        A collaboration between <a href="http://www.pamf.org/">Palo Alto Medical Foundation</a> and
        <a href="http://intermountainhealthcare.org/">Intermountain Healthcare</a> dedicated to identifying
        people with increased chances of developing cancer and and informing them of measures they can take to
        reduce that risk.
    </p>
</div>
<a id="ovca"><b>Ovarian cancer</b></a>
<div>
    <p>
        Cancer of the ovary is cancer arising from the ovary,
        the organ that produces eggs in females.  The ovary has several types of cells.  Cancer in  the
        “epithelial” cells of the ovary, is associated with BRCA mutations. Up to 60% of women (6 in 10)
        who get epithelial ovarian cancer have a mutation in the BRCA genes.
    </p>
</div>
<a id="ftca"><b>Cancer of the fallopian tubes</b></a>
<div>
    <p>
        Cancers in some organs near the ovary also
        more commonly have BRCA mutations, including the fallopian tubes (which carries eggs from the ovary to the uterus).
    </p>
</div>
<a id="ppca"><b>Cancer of the peritoneum (the lining of the abdominal cavity)</b></a>
<div>
    <p>
        Cancers in some organs
        near the ovary also more commonly have BRCA mutations, including the peritoneum (a lining that covers the abdominal organs).
    </p>
    <p>
        We group these three types of cancer (epithelial ovarian, primary peritoneal, and fallopian tube cancers)  together
        when discussing “ovarian cancer” that is associated with BRCA mutations.
    </p>
    <p>
        For more details see <a href="http://en.wikipedia.org/wiki/Ovarian_cancer">
        http://en.wikipedia.org/wiki/Ovarian_cancer</a>
    </p>
</div>
<a id="endofexplanations"><b></b></a>
<div>
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
</div>
{% endblock  %}
