{% extends 'Explanations/base explanation.html' %}

{% block theExplanation %}
<b>Other aspects of breast cancer</b></a>
<div>
    <p>
        <b>Cancer</b> – cancer cells divide and grow without control. They can spread to other parts of the body. In contrast, <i>benign</i> growths do not spread beyond their original location.
    </p>
    <p>
        <b>Breast cancer</b> – cancer that starts in breast cells. Several types of cells in the breast that may form cancers.
    </p>
    <p>
        Breast cancers are described by the type of cells involved and whether the cancer is confined or has spread. Several types of cells in the breast that may form cancers.
    </p>
    <p>
        <b>DCIS</b> – One example of local cancer is “DCIS”, which stands for ductal carcinoma in situ. 
        DCIS describes cell changes confined to the milk ducts of the breast. 
        Some DCIS may spread beyond its original location, while other DCIS may stay confined. We do not yet have good ways to tell which DCIS may spread or not.
    </p>
</div>
{% endblock  %}
