<!DOCTYPE html>
<html lang="en" ng-app="HR4ESurvey">
<head>
  <meta charset="utf-8">
  <title>HR4E Admin Panel | Projects</title>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="css/style.css">
  <script src="bower_components/angular/angular.js"></script>
  <script src="js/controllers.js"></script>
</head>
<body>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <a href="/" class="navbar-brand">HR4E</a>
      <ul class="nav navbar-nav">
	<li class="active"><a href="#" class="crumbitem">Projects</a></li>
      </ul>
    </div>
  </div>

  <div class="container">
    <div id="content" class="panel panel-default" ng-controller="ProjectListCtrl">
      <div class="panel-heading">
	<h1>Select a project:</h1>
	<form class="navbar-form navbar-right" role="search">
	  <div class="form-group">
	    <!--<span class="glyphicon glyphicon-search projectsearch"></span>-->
	    <input class="form-control navbar-right projectsearch" placeholder="Type a project name..." ng-model="query">
	  </div>
	</form>
      </div>
      <div class="panel-body">
	<table class="table table-bordered table-hover">
	  <thead>
	    <tr>
	      <th>Name</th>
	      <th>Quick Description</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr ng-repeat="project in projects | filter:query">
	      <td><a href="#">{{project.name}}</a></td>
	      <td>{{project.desc}}</td>
	    </tr>
	  </tbody>
	</table>
      </div>
    </div>
  </div>

  <div id="footer">
    <div class="container">
      <ul class="nav navbar-nav">
	<li><a href="#">About</a></li>
	<li><a href="#">Help</a></li>
      </ul>
      <p class="navbar-text pull-right">Version 0.0.1</p>
    </div>
  </div>

  <script src="bower_components/angular-bootstrap/ui-bootstrap.js"></script>
</body>
</html>
