    {% load staticfiles %}
	<div id="content" class="panel panel-default">
      <div class="panel-heading">
	<h1>Editor</h1>
      </div>
        <!-- Question Editor App -->
  <div id="EditorCtrl" ng-controller="EditorCtrl">
    {% verbatim %}
      <div id="QuesEditor" class="panel panel-default">

        <div class="panel-heading">
          <h3 class="panel-title" align="center">Survey Editor</h3>
        </div>
        <div id="QuesCanvas" class="panel-body"></div>

        <div class="btn-group" >
          <button type="button" ng-click="surprise()" class="btn btn-default">New<span class="glyphicon"></span></button>
          <button type="button" class="btn btn-default">Delete<span class="glyphicon"></span></button>
          <button type="button" class="btn btn-default">Edit<span class="glyphicon"></span></button>
        </div>

        <form ng-submit="surprise()">
          <input id="SaveBtn" type="submit" value="Save" class="btn btn-default navbar-btn"></input>
        </form>

      </div>

      <div ng-init="initCanvas()"></div>
      <div id="msg" resize>
        window.height: {{windowHeight}}<br />
        window.width: {{windowWidth}}
        {{ msg }}
      </div>

    {% endverbatim %}
  </div>
<script src="{{ STATIC_URL }}lib/kinetic-v5.1.0.min.js"></script>
<script src="{{ STATIC_URL }}js/editorCtrl.js"></script>