<!-- Angular Handlebars here do not need to be wrapped in verbatim tags -->
<div ng-controller="ProjSelectCtrl">
  <div class="panel panel-default">
    <div class="panel-heading">
      <form class="navbar-form navbar-right" role="search">
        <div class="form-group">
          <input class="form-control navbar-right projectsearch" placeholder="Type a project name..." ng-model="query">
        </div>
      </form>
      <h1>Select a Project:</h1>
    </div>

    <div class="panel-body">
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th width="36"></th>
            <th>Name</th>
            <th>Quick Description</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="project in projects | filter:query" ng-click="setSelected()" ng-mouseenter="visible=true" ng-mouseleave="visible=false">
            <td>
              <a ng-show="visible || isSelected()">
                <span class="glyphicon glyphicon-ok">
                </span>
              </a>
            </td>
            <td>{{ project.abbrev }}</td>
            <td>{{ project.name }}</td>
            </a>
          </tr>
        </tbody>
      </table>
    </div>
    <form action="../selectProject/" method="get">
      <button name="selected" value="{{ selected }}">OK!</button>
    </form>
  </div>
</div>