<div ng-controller="SelectPageCtrl">
  <div class="panel panel-default">
    <div class="panel-heading">
      <form class="navbar-form navbar-right" role="search">
        <div class="form-group">
          <input class="form-control navbar-right projectsearch" placeholder="Type a survey name..." ng-model="query">
        </div>
      </form>
      <h1>Transition Table:</h1>
    </div>

    <div class="panel-body">

      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th width="36">#</th>
            <th>Current Page</th>
            <th>Next Page</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="page in listPages | filter:query" ng-click="setSelected()" ng-mouseenter="visible=true" ng-mouseleave="visible=false">
            <td>
              <a ng-show="visible || isSelected()">
                <span class="glyphicon glyphicon-ok"></span>
              </a>
            </td>
            <td>{{ page.currentPage }}</td>
            <td>{{ page.nextPage }}</td>
            </a>
          </tr>
        </tbody>
      </table>

    </div>
    <div>
      <form action="../editor/" method="get">
        <button name="selected" value="{{ selected }}">OK!</button>
      </form>
    </div>
  </div>
</div>