
{% extends "base.html" %}{% load staticfiles %}
{% block content %}
  <!-- Question Editor App -->

  <div ng-app="EditorApp">
    <!-- Partials -->
    <div ng-include="'{{ STATIC_URL }}partials/addQuestionModal.html'"></div>

    <!-- Modal Scripts -->
    <script type="text/ng-template" id="newQuestionModal.html">
      <div class="modal-header">
         <h3 class="modal-title">Add a new project</h3>
      </div>
      <div class="modal-body">
        <form action="../newQuestion/" method="post">{% csrf_token %}
          {% for field in questionForm %}
            <div class="fieldName">{{ field.html_name }}</div>
            <div class="fieldInput">{{ field }}</div>
          {% endfor %}
          <input type="submit" value="Submit" />
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">OK</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
      </div>
    </script>
</div>
{% endblock content %}