
{% extends "base.html" %}{% load staticfiles %}
{% block content %}


    <div class="jumbotron">
      <div class="container">
        <h1>Welcome to the HR4E Survey Editor</h1>
        <p>A tool for creating medical surveys with ease!</p>
        <!--
        	trying to get the modals to work with within the jumbotron
			so i just moved the ng-include div within this jumbotron and changed the text in partials/index.html
        -->
		<div ng-include="'{{ STATIC_URL }}partials/selectSurveyOption.html'"></div>
      
      </div>
    </div>
{{ yes }}
{% endblock content %}
