	Here are other ways you can learn more:<br />
	1. You may ask your physician for our handout.<br />
	2. We suggest these websites:<ul>
	<li>National Institutes of Health: <a href="http://health.nih.gov/topic/BreastCancer">http://health.nih.gov/topic/BreastCancer</a></li>
	<li>Susan Komen Foundation: <a href="http://ww5.komen.org/AboutUs/AboutUs.html">http://ww5.komen.org/AboutUs/AboutUs.html</a></li>
	<li>National Comprehensive Cancer Network: <a href="http://www.nccn.org/patients/patient_guidelines/breast/index.html">http://www.nccn.org/patients/patient_guidelines/breast/index.html</a></li>
	<li>PAMF: <a href="http://www.pamf.org/cancercare/diagnosis/geneticcounseling.html">http://www.pamf.org/cancercare/diagnosis/geneticcounseling.html</a></li>
	</ul>
