<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
    "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
	<title>Upload or Download Questionnaire Contents</title>
</head>
<body>
<h2>Upload or Download Questionnaire Contents</h2>

<p>This page provides a connection to the contents of a Questionnaire. The "download" button
places a comma separated value file in your download folder of your browser. The "upload" button
allows selection of a similarly formatted file to create a questionnaire in this Qx system.
</p>

{% if theProject %}
	The current project is "{{theProject.shortTag}}".
{% endif %}


{% if theQuestionnaire %}
	<p>The Questionnaire you have selected is:  "{{theProject.shortTag}}/{{theQuestionnaire.shortTag}}"</p>
{% endif %}


<form action="" method="post" >{% csrf_token %}
	
<p>	<input type="submit" name="dumpQuestionnaireSpecification" value="Download Questionnaire Contents">
	
	<input type="submit" name="uploadQuestionnaireSpecification" value="Upload Questionnaire Contents">
</p>


		{% if theForm.errors %}
			<p style="color: red;">
				Please correct the error{{ theForm.errors|pluralize }} below.
			</p>
		{% endif %}
			<p>
				{{theForm.as_p }}
			</p>

		{% if resultMessage %}
			<p style="color: red;">
			Results:
			{% for aLine in resultMessage %}
				<p style="color: red;">{{aLine }}</p>
			{% endfor %}
			</p>
		{% endif %}
	<p>
		<input type="submit" name="returnToHome" value="Return to the Home Page">
	</p>
</form>

</body>	
</html>
<style type="text/css">
    ul.errorlist {
        margin: 0;
        padding: 0;
    }
    .errorlist li {
        background-color: red;
        color: white;
        display: block;
        font-size: 10px;
        margin: 0 0 3px;
        padding: 4px 5px;
    }
    .required {
    	font-size: 14px;
    	font-weight: normal
</style>

<!--
Copyright 2013 Health Records for Everyone

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->