{% extends "base.html" %}{% load staticfiles %}{% load custom_filters %}
{% block content %}
<link href="{{ STATIC_URL }}css/lib/angular-snap.min.css" rel="stylesheet">
<div ng-app="EditorApp" ng-controller="EditorCtrl">

  <div ng-include="'{{ STATIC_URL }}partials/navbar.html'"></div>

  <snap-drawer>
    <br><br><br><br>
    <div>
    <button class="btn btn-primary btn-lg" ng-click="newProjModal()">Add a new project</button>
    <button class="btn btn-primary btn-lg" ng-click="newSurvModal()">Add a new survey</button>
    <button class="btn btn-primary btn-lg" ng-click="newPageModal()">Add a new page</button>
    <button class="btn btn-primary btn-lg" ng-click="selectProjModal()">Select a project</button>
    <button class="btn btn-primary btn-lg" ng-click="selectSurvModal()">Select a survey</button>
  </div>
  </snap-drawer>

  <snap-content id="editor" snap-id="test" snap-options="opts">
    <br><br>
    <!-- Django message middleware notification system -->
    {% if messages %}
        {% for message in messages %}
          <div>
            <!-- #define ERROR 40 -->
            {% if message.level == 40 %}
            <alert type="danger" ng-init="true" ng-show="visible" close="visible=false">{{ message }}</alert>
            {% endif %}

            <!-- #define WARNING 30 -->
            {% if message.level == 30 %}
            <alert ng-init="true" ng-show="visible" close="visible=false">{{ message }}</alert>
            {% endif %}

            <!-- #define SUCCESS 25 -->
            {% if message.level == 25 %}
            <alert type="success" ng-init="true" ng-show="visible" close="visible=false">{{ message }}</alert>
            {% endif %}

            <!-- #define INFO 20 -->
            {% if message.level == 20 %}
            <alert ng-init="true" ng-show="visible" close="visible=false">{{ message }}</alert>
            {% endif %}

            <!-- #define DEBUG 10 -->
            {% if message.level == 10 %}
            <alert type="danger" ng-init="true" ng-show="visible" close="visible=false">{{ message }}</alert>
            {% endif %}
          </div>
        {% endfor %}
    {% endif %}

    <snap-dragger>
      <!-- set draggable area to this empty element -->
    </snap-dragger>

    <div ng-controller="SelectPageCtrl">
      {% if selectedSurvey %}
      <!-- API: select a page bar -->
      <pagination total-items="totalPages" ng-model="selectedPage" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages"></pagination>


      {% verbatim %}
      <h1>Default Project: {{ defaultProject }}</h1>
      <h2>Selected Survey: {{ selectedSurvey }}</h2>
      <pre>Page: {{selectedPage}} / {{ numPages }}</pre>
      {% endverbatim %}
      <hr />

      <accordion close-others="oneAtATime">
        <accordion-group ng-repeat="listQues in allQuestions" is-open="(selectedPage-1)==$index" ng-click="setSelected()">
          <accordion-heading>
            {% verbatim %}{{ listPages[$index].currentPage }}{% endverbatim %}
            <a ng-click="deletePageModal(listPages[$index].currentPage)">
              <span class="glyphicon glyphicon-glyphicon glyphicon-trash inline pull-right"></span>
            </a>
          </accordion-heading>

          <!-- Page content: question list start -->
          <div ng-if="listQues">
            <div ng-repeat="ques in listQues">
              <a href="#" ng-click="updateQuesModal({
                'questionTag':ques.questionTag,
                'questionText':ques.questionText,
                'helpText':ques.helpText,
                'explanation':ques.explanation,
                'language':ques.language,
                'description':ques.description,
                'imageFileName':ques.imageFileName,
                'imageFileType':ques.imageFileType
              }, selectedSurvey)"><span class="glyphicon glyphicon-pencil inline"></span></a>
              <div contenteditable class="inline" ng-bind-html="ques.questionTag"></div>
              <a href="#" ng-click="deleteQuesModal(ques.questionTag, selectedSurvey)"><span class="glyphicon glyphicon-remove inline pull-right"></span></a>

              <div ng-model="newQuestionText" ng-bind-html="ques.questionText"></div>

              <hr ng-if="!$last">
            </div>
          <br>
          </div>
          <div ng-if="listQues[0]==null">
            <p> No questions </p>
          </div>

          <!-- API: add new question btn -->
          {% verbatim %}
          <button class="btn btn-primary btn-lg" ng-click="newQuesModal(listPages[selectedPage-1].currentPage, selectedSurvey)">Add a new question to page {{ selectedPage }}</button>
          <button class="btn btn-primary btn-lg" ng-click="addExistingQuesModal(listPages[selectedPage-1].currentPage, selectedSurvey)">Add an existing question to page {{ selectedPage }}</button>
          {% endverbatim %}

        <!-- Page content end -->
        </accordion-group>
      </accordion>
      {% else %}{% verbatim %}
      <accordion close-others="oneAtATime">
        <!-- Manage Projects Table -->
        <accordion-group heading="Manage Projects" is-open="status=='projects'" ng-click="status='projects'">

          <h1 ng-if="projects.length==0">No projects created</h1>
          <table ng-if="projects" class="table table-bordered table-hover">
            <thead>
              <tr>
                <th width="36"></th>
                <th>Name</th>
                <th>Quick Description</th>
                <th width="36">Delete</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="project in projects | filter:query" ng-click="setSelectedProj()" ng-mouseenter="visible=true" ng-mouseleave="visible=false">
                <td>
                  <a ng-show="visible || isSelectedProj()" href="../selectProject/?selected={{ selectedProj }}">
                    <span class="glyphicon glyphicon-ok"></span>
                  </a>
                </td>
                <td>{{ project.shortTag }}</td>
                <td>{{ project.name }}</td>
                <td>
                  <a ng-show="visible || isSelectedProj()" ng-click="deleteProjModal(project.shortTag)">
                    <span class="glyphicon glyphicon-remove"></span>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </accordion-group>
        <!-- Manage Surveys Table -->
        <accordion-group heading="Manage Surveys" is-open="status=='surveys'" ng-click="status='surveys'">
          <h1 ng-if="surveys.length==0">No surveys created</h1>
          <table ng-if="surveys" class="table table-bordered table-hover">
            <thead>
              <tr>
                <th width="36"></th>
                <th>Name</th>
                <th>Quick Description</th>
                <th width="36">Delete</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="survey in surveys | filter:query" ng-click="setSelectedSurv()" ng-mouseenter="visible=true" ng-mouseleave="visible=false">
                <td>
                  <a ng-show="visible || isSelectedSurv()" href="../editor/?selected={{ selectedSurv }}">
                    <span class="glyphicon glyphicon-ok"></span>
                  </a>
                </td>
                <td>{{ survey.shortTag }}</td>
                <td>{{ survey.name }}</td>
                <td>
                  <a ng-show="visible || isSelectedSurv()" ng-click="deleteSurvModal(survey.shortTag)">
                    <span class="glyphicon glyphicon-remove"></span>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </accordion-group>
      </accordion>

      {% endverbatim %}{% endif %}
    </div>
  </snap-content>



  <!-- Django-Angular Script -->

  <script type="text/javascript">
    var SelectPageCtrl = function ($scope, $sce) {
      $scope.maxSize = 5;
      $scope.totalPages = 10 * '{{ numPages }}';
      $scope.selectedPage = 1;
      $scope.defaultProject = '{{ defaultProject.shortTag }}';
      $scope.selectedSurvey = '{{ selectedSurvey.shortTag }}';

      <!-- API: 2 way data bind the list of projects -->
      $scope.visible = false;
      $scope.projects = [];
      {% for project in allProjects %}
        $scope.projects.push({
          shortTag: '{{project.shortTag}}', 
          name: '{{project.name}}',
        });
      {% endfor %}

      <!-- API: 2 way data bind the list of surveys -->
      $scope.surveys = [];
      {% for survey in listSurveys %}
        $scope.surveys.push({
          shortTag: '{{ survey.questionnaireID.shortTag }}', 
          desc: '{{ survey.questionnaireID.description }}',
        });
      {% endfor %}
      <!-- API: 2-way data bind the list of pages -->
      $scope.listPages = [];
      {% for page in listPages %}
        $scope.listPages.push({
          currentPage : '{{ page.pageID.shortTag }}',
          nextPage : '{{ page.nextPageID.shortTag }}',
        });
      {% endfor %}

      <!-- API: 2 way data bind the list of list_questions -->
      $scope.allQuestions = [];
      {% for page in allQuestions %}
        $scope.allQuestions.push([]);
        {% for question in page %}
          $scope.allQuestions[{{ forloop.parentloop.counter0 }}].push({
            questionTag   : '{{ question.questionID.questionTag }}',
            questionText  : '{{ question.questionID.questionText | linebreaksbr }}',
            helpText      : '{{ question.questionID.helpText }}',
            explanation   : '{{ question.questionID.explanation | linebreaksbr }}',
            language      : '{{ question.questionID.language }}',
            description   : '{{ question.questionID.description | linebreaksbr }}',
            imageFileName : '{{ question.questionID.imageFileName }}',
            imageFileType : '{{ question.questionID.imageFileType }}',
            });
        {% endfor %}
      {% endfor %}

      <!-- modal table accordion misc functions -->
      $scope.oneAtATime = true;
      $scope.status = "projects";

      $scope.setSelected = function() {
        $scope.selectedPage = this.$index + 1;
      };
      $scope.isSelected = function() {
        if (this.$index+1 == $scope.selectedPage)
          return true;
        else {
          return false;
        }
      };

      $scope.selectedProj = '{{ defaultProject.shortTag }}';
      $scope.setSelectedProj = function() {
          $scope.selectedProj = this.project.shortTag;
      };
      $scope.isSelectedProj = function() {
        if (this.project.shortTag == $scope.selectedProj)
          return true;
        else {
          return false;
        }
      };

      $scope.setSelectedSurv = function() {
          $scope.selectedSurv = this.survey.shortTag;
      };
      $scope.isSelectedSurv = function() {
        if (this.survey.shortTag == $scope.selectedSurv)
          return true;
        else {
          return false;
        }
      };

    };
  </script>

  <!-- Modal Scripts -->
  <script type="text/ng-template" id="addProjectModal.html">
    <div class="modal-header">
      <h3 class="modal-title">Add a new project</h3>
    </div>
    <div class="modal-body">
      <form role="form" action="../newProject/" method="post">{% csrf_token %}
        {% for field in projForm %}
          <div class="form-group">
            <label class="fieldName">{{ field.html_name }}</label>
            {% if field.field.required %}
              <div class="fieldInput">{{ field|addcss:"alert-danger" }}</div>
            {% else %}
              <div class="fieldInput">{{ field }}</div>
            {% endif %}
          </div>
        {% endfor %}
        <div class="modal-footer">
          <input class="btn btn-primary" type="submit" value="Submit" />
          <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
      </form>
    </div>
  </script>

  <script type="text/ng-template" id="addSurveyModal.html">
    <div class="modal-header">
        <h3 class="modal-title">Create a new survey</h3>
    </div>
    <div class="modal-body">
      <form role="form" action="../newSurvey/" method="post">{% csrf_token %}
        {% for field in survForm %}
          <div class="form-group">
            <label class="fieldName">{{ field.html_name }}</label>
            {% if field.field.required %}
            <div class="fieldInput">{{ field|addcss:"alert-danger" }}</div>
            {% else %}
            <div class="fieldInput">{{ field }}</div>
            {% endif %}
          </div>
        {% endfor %}
        <div class="modal-footer">
          <input class="btn btn-primary" type="submit" value="Submit" />
          <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
      </form>
    </div>
  </script>

  <script type="text/ng-template" id="addPageModal.html">
    <div class="modal-header">
       <h3 class="modal-title">Add a new page</h3>
    </div>
    <div class="modal-body">
      <form role="form" action="../newPage/" method="post">{% csrf_token %}
        {% for field in pageForm %}
        <div class="form-group">
          <label class="fieldName">{{ field.html_name }}</label>
          {% if field.field.required %}
            <div class="fieldInput">{{ field|addcss:"alert-danger" }}</div>
          {% else %}
            <div class="fieldInput">{{ field }}</div>
          {% endif %}
        </div>
        {% endfor %}
        <input type="hidden" value="{{ selectedSurvey.shortTag }}" name="selected">
        <div class="modal-footer">
          <input class="btn btn-primary" type="submit" value="Submit" />
          <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
      </form>
    </div>
  </script>

  <script type="text/ng-template" id="addQuestionModal.html">
    <div class="modal-header">
       <h3 class="modal-title">Add a new question to {% verbatim %}{{ page }}{% endverbatim %}</h3>
    </div>
    <div class="modal-body">
      <form role="form" action="../newQuestion/" method="post">{% csrf_token %}
        {% for field in quesForm %}
          <div class="form-group">
            <label class="fieldName">{{ field.html_name }}</label>
            {% if field.field.required %}
            <div class="fieldInput">{{ field|addcss:"alert-danger" }}</div>
            {% else %}
            <div class="fieldInput">{{ field }}</div>
            {% endif %}
          </div>
        {% endfor %}
        {% verbatim %}
        <input type="hidden" value="{{ page }}" name="page">
        <input type="hidden" value="{{ survey }}" name="selected">
        {% endverbatim %}
        <div class="modal-footer">
          <input class="btn btn-primary" type="submit" value="Submit" />
          <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
      </form>
    </div>
  </script>
   
  <!-- select project modal container -->
  <script type="text/ng-template" id="selectProjectModal.html">
    <div ng-include="'{{ STATIC_URL }}partials/selectProjModalContents.html'"></div>
  </script>

  <!-- select survey modal contents -->
  <script type="text/ng-template" id="selectSurveyModal.html">
    <div ng-include="'{{ STATIC_URL }}partials/selectSurvModalContents.html'"></div>
  </script>

  <!-- API: delete question modal -->
  <script type="text/ng-template" id="deleteQuestionModal.html">
    <div class="modal-header">
       <h3 class="modal-title">Will delete question {% verbatim %}'{{ question }}'{% endverbatim %}</h3>
    </div>
    <div class="modal-body">
      <h4>Are you sure?</h4>
      <form role="form" action="../deleteQuestion/" method="post">{% csrf_token %}
        {% verbatim %}
        <input type="hidden" value="{{ question }}" name="question">
        <input type="hidden" value="{{ survey }}" name="survey">
        {% endverbatim %}
        <div class="modal-footer">
          <input class="btn btn-primary" type="submit" value="Yes" />
          <button class="btn btn-warning" type="button" ng-click="cancel()">No</button>
        </div>
      </form>
    </div>
  </script>

  <!-- API: update question modal -->
  <script type="text/ng-template" id="updateQuestionModal.html">
    <div class="modal-header">
      {% verbatim %}
      <h3 class="modal-title">Update question '{{ question.originalTag }}'</h3>
      {% endverbatim %}
    </div>
    <div class="modal-body">
      <form role="form" action="../updateQuestion/" method="post">{% csrf_token %}
        {% for field in quesForm %}
          <div class="form-group">
            <label class="fieldName">{{ field.html_name }}</label>
            {% if field.field.required %}
            <div class="fieldInput">{{ field|addDangerModel:field.html_name }}</div>
            {% else %}
            <div class="fieldInput">{{ field|addModel:field.html_name }}</div>
            {% endif %}
          </div>
        {% endfor %}
        {% verbatim %}
        <input type="hidden" value="{{ question.originalTag }}" name="originalTag">
        <input type="hidden" value="{{ survey }}" name="survey">
        {% endverbatim %}
        <div class="modal-footer">
          <input class="btn btn-primary" type="submit" value="Submit" />
          <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
      </form>
    </div>
  </script>

  <!-- API: delete project modal -->
  <script type="text/ng-template" id="deleteProjectModal.html">
    <div class="modal-header">
       <h3 class="modal-title">Will delete project {% verbatim %}'{{ selection }}'{% endverbatim %}</h3>
    </div>
    <div class="modal-body">
      <h4>Are you sure?</h4>
      <form role="form" action="../deleteProject/" method="post">{% csrf_token %}
        {% verbatim %}
        <input type="hidden" value="{{ selection }}" name="project">
        {% endverbatim %}
        <div class="modal-footer">
          <input class="btn btn-primary" type="submit" value="Yes" />
          <button class="btn btn-warning" type="button" ng-click="cancel()">No</button>
        </div>
      </form>
    </div>
  </script>

  <!-- API: delete survey modal -->
  <script type="text/ng-template" id="deleteSurveyModal.html">
    <div class="modal-header">
       <h3 class="modal-title">Will delete survey {% verbatim %}'{{ selection }}'{% endverbatim %}</h3>
    </div>
    <div class="modal-body">
      <h4>Are you sure?</h4>
      <form role="form" action="../deleteSurvey/" method="post">{% csrf_token %}
        {% verbatim %}
        <input type="hidden" value="{{ selection }}" name="survey">
        {% endverbatim %}
        <div class="modal-footer">
          <input class="btn btn-primary" type="submit" value="Yes" />
          <button class="btn btn-warning" type="button" ng-click="cancel()">No</button>
        </div>
      </form>
    </div>
  </script>

  <!-- API: delete question modal -->
  <script type="text/ng-template" id="deletePageModal.html">
    <div class="modal-header">
       <h3 class="modal-title">Will delete page {% verbatim %}'{{ selection }}'{% endverbatim %}</h3>
    </div>
    <div class="modal-body">
      <h4>Are you sure?</h4>
      <form role="form" action="../deletePage/" method="post">{% csrf_token %}
        {% verbatim %}
        <input type="hidden" value="{{ selection }}" name="page">
        {% endverbatim %}
        <input type="hidden" value="{{ selectedSurvey.shortTag }}" name="survey">
        <div class="modal-footer">
          <input class="btn btn-primary" type="submit" value="Yes" />
          <button class="btn btn-warning" type="button" ng-click="cancel()">No</button>
        </div>
      </form>
    </div>
  </script>

  <!-- API: add existing question modal -->
  <script type="text/ng-template" id="addExistingQuestionModal.html">
    <div class="modal-header">
       <h3 class="modal-title">Add an existing question to page {% verbatim %}'{{ page }}'{% endverbatim %}</h3>
    </div>
    <div class="modal-body">
      <form role="form" action="../addExistingQuestion/" method="post">{% csrf_token %}
        {% for field in pageQuesForm %}
          <div class="form-group">
            <label class="fieldName">{{ field.html_name }}</label>
            <div class="fieldInput">{{ field }}</div>
          </div>
        {% endfor %}
        {% verbatim %}
        <input type="hidden" value="{{ page }}" name="page">
        <input type="hidden" value="{{ survey }}" name="survey">
        {% endverbatim %}
        <div class="modal-footer">
          <input class="btn btn-primary" type="submit" value="Submit" />
          <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
      </form>
    </div>
  </script>

</div>
{% endblock content %}