
{% extends "base.html" %}{% load staticfiles %}
{% block content %}
 
  <div ng-app="EditorApp">

    <!-- Partials -->

    <div ng-include="'{{ STATIC_URL }}partials/navbar.html'"></div>
    <div ng-include="'{{ STATIC_URL }}partials/addQuestionModal.html'"></div>
    <div ng-include="'{{ STATIC_URL }}partials/addPageModal.html'"></div>

{{ defaultProject }}
<br>
{% for survey in listSurveys %}
  {{ survey.questionnaireID.shortTag }}<br>
  {{ survey.questionnaireID.barTitle }}
  <div id="description">{{ survey.questionnaireID.description }}</div>
  <!-- Available fields i.e. {{ survey.questionnaireID.field }}

  ['barTitle', 'description', 'footerText', u'id', 'imageFileName', 'imageFilePath', 'imageFileType', 'language', 'lastUpdate', 'pageSubTitle', 'pageTitle', 'pageanalysis', 'projectquestionnaire', 'questionnaireanalysis', 'questionnaireattributes', 'questionnairepage', 'shortTag', 'submission', 'version', 'versionDate']
 
  -->
  <br>
{% endfor %}

    <!-- Modal Scripts -->

    <script type="text/ng-template" id="addPageModal.html">
      <div class="modal-header">
         <h3 class="modal-title">Add a new page</h3>
      </div>
      <div class="modal-body">
        <form action="../newPage/" method="post">{% csrf_token %}
          {% for field in pageForm %}
            <div class="fieldName">{{ field.html_name }}</div>
            <div class="fieldInput">{{ field }}</div>
          {% endfor %}
          <input type="submit" value="Submit" />
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">OK</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
      </div>
    </script>

    <script type="text/ng-template" id="addQuestionModal.html">
      <div class="modal-header">
         <h3 class="modal-title">Add a new question</h3>
      </div>
      <div class="modal-body">
        <form action="../newQuestion/" method="post">{% csrf_token %}
          {% for field in questionForm %}
            <div class="fieldName">{{ field.html_name }}</div>
            <div class="fieldInput">{{ field }}</div>
          {% endfor %}
          <input type="submit" value="Submit" />
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">OK</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
      </div>
    </script>

  </div>
  
{% endblock content %}