
{% extends "base.html" %}{% load staticfiles %}
{% block content %}

  <div ng-app="EditorApp">

    <!-- Partials -->

   
    <!-- Django-Angular Script -->

    <!-- Modal Scripts -->

	{% if user.is_authenticated %}
	  <div ng-include="'{{ STATIC_URL }}partials/navbar.html'"></div>
	  <p> welcome {{ user }} </p>
	{% else %}
	  <div ng-include="'{{ STATIC_URL }}partials/navbarWelcome.html'"></div>
	  <div class="container">

		  <div class="jumbotron">
		  	<h1> HR4E Survey Editor </h1>
		  	<div>
		  		<p>Welcome to the Health Records For Everyone Survey Editor. Please sign in to create or edit surveys.</p>
		  		<p>Or continue to the survey area to complete a survey.</p>
		  		<p>
		  			<a class="btn btn-lg btn-primary" href="#" role="button">Take a survey &raquo;</a>
		  		</p>
		  	</div>
		  </div>
	  </div>
	{% endif %}

  </div>
{% endblock content %}
