
{% extends "base.html" %}{% load staticfiles %}
{% block content %}

  <div ng-app="EditorApp">


<!-- not needed? 
	  <div ng-include="'{{ STATIC_URL }}partials/navbarWelcome.html'"></div>
-->

    <body id="cover">
      <div id="coverdiv">
        <h1>Health Records For Everyone</h1>
        <p class="lead">Easily evaluate the condition of your health</p>
        <a href="#" class="btn btn-lg btn-info">Take a survey</a>
        <a href="home" class="btn btn-lg btn-info">Write your own survey</a>
      </div>
    </body>


  </div>
{% endblock content %}
